*{
    Margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    


}
.layout-grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    height: 100%;
}
.header-flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 350px;
    display: flex;
    justify-content: space-between;

    
}
.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
header img {
    width: 130px;
}
.banner{
    border: 2px solid red;
   position: relative;
   top: 0;
   left: 0;

}
.banner img{
     width: 100%;
}
.banner a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white;
    background-color: #444444;
    height: 45px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;

}
